n8n-workflow-import.json
{
  "name": "AgroML - Crop Recommendation Pipeline",
  "nodes": [
    {
      "id": "node-webhook-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        320
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "agro-predict",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-classify-002",
      "name": "Classify Question",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        320
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8001/classify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ question: $json.body.farmer_question || '' }) }}",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "node-router-003",
      "name": "Route by Topic",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        320
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.is_agriculture }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-features-004",
      "name": "Get Features",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1020,
        160
      ],
      "parameters": {
        "method": "GET",
        "url": "=http://127.0.0.1:8001/features?latitude={{ $('Webhook').first().json.body.latitude }}&longitude={{ $('Webhook').first().json.body.longitude }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "node-predict-005",
      "name": "Predict Crop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1280,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8001/predict",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Temparature: Number($json.Temparature), Humidity: Number($json.Humidity), Moisture: Number($json.Moisture), Soil_Type: $json.Soil_Type, Nitrogen: Number($json.Nitrogen), Potassium: Number($json.Potassium), Phosphorous: Number($json.Phosphorous) }) }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "node-explain-006",
      "name": "Explain Crop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1540,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8001/explain",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ crop: $json.recommended_crop, fertilizer: $json.recommended_fertilizer, location: $('Get Features').first().json.location, soil_type: $('Get Features').first().json.Soil_Type, temperature: Number($('Get Features').first().json.Temparature), humidity: Number($('Get Features').first().json.Humidity), moisture: Number($('Get Features').first().json.Moisture), nitrogen: Number($('Get Features').first().json.Nitrogen), potassium: Number($('Get Features').first().json.Potassium), phosphorous: Number($('Get Features').first().json.Phosphorous), farmer_question: $('Webhook').first().json.body.farmer_question || '' }) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "node-format-ml-007",
      "name": "Format ML Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        160
      ],
      "parameters": {
        "jsCode": "const features = $('Get Features').first().json;\nconst prediction = $('Predict Crop').first().json;\nconst explanation = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    response_type: 'ml_prediction',\n    location: features.location,\n    soil_features: {\n      soil_type: features.Soil_Type,\n      nitrogen: features.Nitrogen,\n      potassium: features.Potassium,\n      phosphorous: features.Phosphorous\n    },\n    weather_features: {\n      temperature: features.Temparature,\n      humidity: features.Humidity,\n      moisture: features.Moisture\n    },\n    recommended_crop: prediction.recommended_crop,\n    recommended_fertilizer: prediction.recommended_fertilizer,\n    explanation: explanation.explanation || explanation.error || 'LLM explanation not available',\n    explanation_source: explanation.source || 'unknown',\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "node-respond-ml-008",
      "name": "Respond ML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2060,
        160
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "node-gemini-009",
      "name": "Ask Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1020,
        480
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8001/ask_farmer",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ question: $('Webhook').first().json.body.farmer_question || '', latitude: $('Webhook').first().json.body.latitude || null, longitude: $('Webhook').first().json.body.longitude || null }) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "node-format-gemini-010",
      "name": "Format Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        480
      ],
      "parameters": {
        "jsCode": "const geminiData = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    response_type: 'general_farming_advice',\n    location: null,\n    soil_features: null,\n    weather_features: null,\n    recommended_crop: null,\n    recommended_fertilizer: null,\n    explanation: geminiData.answer || 'Sorry, I could not answer your question at this time.',\n    explanation_source: geminiData.source || 'gemini',\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "node-respond-gemini-011",
      "name": "Respond Gemini",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1540,
        480
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Classify Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Question": {
      "main": [
        [
          {
            "node": "Route by Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Topic": {
      "main": [
        [
          {
            "node": "Get Features",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Features": {
      "main": [
        [
          {
            "node": "Predict Crop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Predict Crop": {
      "main": [
        [
          {
            "node": "Explain Crop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explain Crop": {
      "main": [
        [
          {
            "node": "Format ML Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format ML Response": {
      "main": [
        [
          {
            "node": "Respond ML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Gemini": {
      "main": [
        [
          {
            "node": "Format Gemini Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Gemini Response": {
      "main": [
        [
          {
            "node": "Respond Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": []
}